html {
  box-sizing: border-box;
  height: 100%;
}
li{
  list-style: none;
}
body{
  margin: 0;
  background: #e5e5e5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
ul,p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding:0;
}
.app-header{
  height: 80px;
  text-align: center;
  background: #ffffff;
  color: #2B2829;
}
.app-header svg{
  margin: 16px auto;
}
.app-main{
  max-width: 736px;
  width: 100%;
  margin: 56px auto 0;
}
.app-main__heading{
  font-family: Verdana;
  font-size: 40px;
  line-height: 49px;
}
.tab{
  display: flex;
  flex-direction: column;
}
.tab-btn{
  padding: 8px 24px 11px;
  text-align: center;
  font-size: 12px;
  border: none;
  font-weight: bold;
  color: #B9B9B9;
  background: #e5e5e5;
  cursor: pointer;
}
.tab-btn.active{
  border-top: 2px solid #F50634;;
  
  color: #2B2829;
  background: #ffffff;
}
.tab-controller{
  display: flex;
}
.tab-content{
  height: 504px;
  padding: 32px 24px;
  background: #ffffff;
}
.search {
  font-size: 14px;
}
.search__title{
  color: #2b2829;
}
.search__input{
  margin-top: 3px;
  max-width: 656px;
  width: 100%;
  padding: 16px 13px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  transition: border .2s ease;
  outline: none !important;
}

.search__input:focus{
  border:1px solid #FAE29F;
}
.empty{
  margin-top: 48px;
  display: flex;
  align-items: center;

}

.empty p{
  margin-left: 32px;
  width: 315px;
  font-size: 14px;
  color: #777777;
}

.suggestions{
  max-height: 418px;
  height: auto;
  overflow-y:hidden;
  width:682px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-radius: 0 0 3px 3px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.suggestion-item{
  cursor: pointer;
  padding:17px 23px;
}
.suggestion-item:hover{
  background: #F8F8F8;
}
.org{
  margin-top: 40px;
}
.org-title{
  font-size: 24px;
  padding-bottom: 11px;
  border-bottom: 1px solid #e5e5e5;
}
.org-heading{
  margin-top: 24px;
  font-weight: bold;

}
.org-body{
  display: flex;
  justify-content: space-between;
}
.org-text{
  margin-top: 8px;
}
.org-body__data{
  margin-top: 24px;
  padding: 24px;
  background: #f8f8f8;
}
.org-body__data li:not(:first-child){
  margin-top: 10px;
}
.org-body__data span{
  font-weight: bold;
}
.org-btn{
  display: flex;
  margin-top: 32px;
  width: 186px;
  height: 46px;
  justify-content: center;
  align-items: center;
  background: #F50634;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.saved{
  margin-top: 32px;
  overflow: hidden;
}
.saved-item{
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  padding: 16px;
}
.saved-item__header{
  display: flex;
  justify-content: space-between;
}
.saved-item__delete{
  cursor: pointer;
}
.saved-item__body{
  max-height: 30px;
  margin-top: 16px;
  font-size: 12px;
  
  transition: max-height .25s ease;
  }
  .saved-item__body.open{
    
    max-height: 200px;
    transition: max-height .25s ease;
  }
.saved-item__body p:not(:first-child){
margin-top: 6px;
}

.saved-item__body span{
  margin-right: 15px;
  color: #777777;
}
.saved-item__detail{
  margin-top: 12px;
  font-size: 10px;
  color: #777777;
  text-align: right;
  cursor: pointer;
}
